/*#region utility*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
:root{
    --res-dark: black;
    --res-white: white;
    --res-purple: rgba(151,146,228,1);
    --res-primary: #069cf5;
    --res-secondary: rgba(225, 254, 254,1);
    
    
    
}
.container{
    margin: auto;
    max-width: 1152px;
    width: 80%;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: o -1rem;
    text-align: center;
}
[class^="col-"]{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.col-4{
    width: calc((100%/12)*4);
}
.col-6{
    width: calc((100%/12)*6);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-12{
    width: 100%;
}
ul{
  list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.padding10{
    padding: 1rem 5rem;
}
.padding-top{
    padding-top: 4rem;
}
.border-radius10{
    border-radius: 50%;
}
h4{
    color: var(--res-primary);
}
.line{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem 8rem;
    gap: 1rem;
    font-size: large;
}
.white-color{
    color: white;
}
.color-purple{
    color: var(--res-purple);
}
/*#endregion utility*/

/*#region debug*/
.debug header{
    height: 100px;
    background-color: brown;
}
.debug main{
    height: 100%;
    background-color: aquamarine;
}
.debug .col-8, .col-12{
    border: 2px solid rgb(0, 0, 0);
    height: 300px;
}
.debug .col-4{
    border: 2px solid rgb(0, 0, 0);
    height: 300px;
}
.debug .testimonial{
    height: 700px;
    background-color: rgb(88, 231, 22);
}  
.debug .getstarted{
    background-color: bisque;
    height: 200px;
}
.debug footer{
    background-color: chartreuse;
    height: 200px;
}
/*#endregion debug*/

/*#region header*/
header{
    background-color: var(--res-primary);

}
.space{
    padding: 20px;
    gap: 10rem;
    justify-content: space-between;
    color: white;
    text-align: center;
    align-items: center;
}
.all-menu,.menu{
    text-align: center;
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    background-color: transparent;
    border: none; 
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}
.btn-light{
    background-color: white;
    color: black;
}
.btn-violet{
    background-color: var(--res-purple);
    
}
.btn-blu{
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 0.5rem 2rem;
}
.menu-tab-phone{
    display: none;
}
.gap20{
    gap: 20px;
}
li>a {
    color: white;
}
div>a{
    color: black;

}
section{
    margin: 2rem auto;
}


/*#endregion header*/


/*#region main*/
.color-ground-secondary{
    background-color: var(--res-secondary);
}
.planning{
    background-color: var(--res-purple);
    padding: 2rem;
}
.imgplanning{
    max-width: 60%;
}
.app{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    padding: 2rem;
}
.carte{
    min-height: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
}

.fa-2xl {
    font-size: 6em;
    line-height: .03125em;
    vertical-align: -0.1875em;
    padding: 3rem;
    color: var(--res-primary);
}
/*#region testimonial*/
.testimonial{
    text-align: center;
    padding: 2rem;
}
.violet{
    color: rgb(180, 75, 180);
}
.card{
    background-color:  var(--res-purple);
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 2rem 0;
    color: white;
}
.testimonial .card img{
    height: 200px;
    width: 200px;

}
.items-center{
    align-items: center;
}

/*#endregion testimonial*/
.benefits{
    background-color: var(--res-purple);
}
.card-benefit{
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.getstarted{
    text-align: center;
    align-items: center;
    padding: 10px;
}
.fa-xl {
    font-size: 2.5rem;
    line-height: .04167em;
    color: var(--res-purple);
}
.colum{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/*#endregion main*/

@media screen and (max-width: 768px) {
    .col-md-4{
        width: calc((100%/12)*4);
    }
    .col-md-6{
        width: calc((100%/12)*6);
    }
    .col-md-8{
        width: calc((100%/12)*8);
    }
    .col-md-12{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .menu-tab-phone{
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .row{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .col-lg-4{
        width: calc((100%/12)*4);
    }
    .col-lg-6{
        width: calc((100%/12)*6);
    }
    .col-lg-8{
        width: calc((100%/12)*8);
    }
    .col-lg-12{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .menu-tab-phone{
        display: block;
    }
    .card div{
        display: block;
    }
    .line{
        padding: 0;
    }
}